<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My To Dos</title>
</head>
<body>
    <main>
        <div>
            <h1>My Lists</h1>
            <p>
                <a href="{% url 'todo_list_create' %}">Create a new list</a>
            </p>
            <p>
                <a href="{% url 'todo_item_create' %}">Create a new item</a>
            </p>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Number of items</th>
                </tr>
                {% for todo in lists %}
                <tr>
                    <td>
                        <a>{{ todo.name }}</a>
                    </td>
                    <td>
                        <a href="{% url 'todo_list_detail' todo.id %}">{{ todo.items.count }}</a>
                    </td>
                    <td>
                        <a href="{% url 'todo_list_update' todo.id %}">Edit</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </main>
</body>
</html>
